<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <div class="contact-section">
        <div class="caption-slide">
            <h1 class="title-contact">Contact us</h1>
        </div>
        <p>Because we want to be connected together, we will give you same ways to
            contact us.
        </p>
        <p>Our team will be there for you in case you need more infos, or there is anything
            you want to know.
        </p>
    </div>

    <div class="row" style="background-color: #f4f5f7;">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>E-mail Address</h2>
                    <p class="title"><span class="fas fa-solid fa-envelope"> </span><a
                            href="mailto:rentstudio@gmail.com">rentstudio@gmail.com</a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Phone Number</h2>
                    <p class="title"><span class="fas fa-solid fa-phone"> </span><a
                            href="tel:+40723356451">0723356451</a></p>
                </div>
            </div>
        </div>
    </div>
</body>