body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f5f7;
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

.caption-slide {
    background-color: #aa75259a;
    color: #20190f;
    width: 50%;
    margin: auto;

}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.contact-section {
    padding: 50px;
    text-align: center;
    background-color: #f4f5f7;

}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title-contact {
    font-weight: bolder;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.row {
    margin: auto;
    width: 90%;
}

.row .column {
    margin: auto;
    width: 30%;


}