<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body>
    <div class="about-section">
        <div class="caption-slide">
            <h1 class="title-about">About Us</h1>

        </div>
        <p>How does our service work?
            We make it easy for you to compare Bookings from many hotels, many owners and other Service Providers.
        </p>
        <p>We offer a place where you can find and book services related to Attractions.
            When you make a Booking on our Platform, you enter into a contract with the Service Provider or the company
            acting as an intermediary/reseller.
        </p>
        <p>Here are some quick infos about where and when you can find us: </p>
    </div>

    <h2 style="text-align:center; text-decoration: underline;">Infos</h2>
    <div class="row" style="background-color: #f4f5f7;">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Location</h2>
                    <p class="title">Adresă: Bulevardul Regina Elisabeta, Bucureşti.</p>
                    <p><a href="https://www.google.com/maps"><button class="button">Go to maps</button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Program</h2>
                    <p class="title">L-V: 10:00-20:00</p>
                    <p class="title">S-D: 16:00-20:00</p>
                    <hr class="hr">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2>Team</h2>
                    <p class="title">We grow with your help. Thank you!</p>
                    <p><button class="button" [routerLink]="['/contact']">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>